Django==1.6.10
South==0.8.2
WebOb==1.4.1
WebTest==2.0.7
amqp==1.0.13
anyjson==0.3.1
argparse==1.2.1
beautifulsoup4==4.3.2
billiard==2.7.3.34
bleach==1.4
boto==2.27.0
celery==3.0.16
dj-database-url==0.2.2
django-celery==3.0.21
django-db-pool==0.0.10
django-picklefield==0.3.0
django-secure==0.1.2
django-ses==0.6.0
django-sslify==0.2
django-webtest==1.7.5
gunicorn==17.5
html5lib==0.99999
httplib2==0.9.1
kombu==2.5.13
oauth2client==1.2
psycopg2==2.5.1
pyparsing==1.5.7
python-dateutil==2.4.2
python-openid==2.2.5
pytz==2015.4
rauth==0.7.1
requests==1.2.3
six==1.9.0
unicodecsv==0.9.0
validate-email==1.2
waitress==0.8.9
wsgiref==0.1.2
